
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="ListTagh" style="background-image: linear-gradient(45deg, #da95ce, transparent);font-size:11px"></div>
            <div class="ListTaghDetail" style="background-image: linear-gradient(45deg, #da95ce, transparent);font-size:14px"></div>
        </div>
        <div class="col-lg-4">
            <div class="ListTaskTomarow" style=" background-image: linear-gradient(45deg, #daab95, transparent);
        font-size: 14px"></div>
            
        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
    </div>
</div>