
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="ListTagh" style="background-image: linear-gradient(45deg, #da95ce, transparent);font-size:11px"></div>
            <div class="ListTaghDetail" style="background-image: linear-gradient(45deg, #da95ce, transparent);font-size:14px"></div>
        </div>
        <div class="col-lg-4">
            <div class="RepeatedTaskForCheck" style=" background-image: linear-gradient(45deg, #daab95, transparent);
        font-size: 14px"></div>

        </div>
        <div class="col-lg-4">
            <div class="ListAllJob" style=" background-image: linear-gradient(45deg, #daab95, transparent);font-size: 10px"></div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ListTaskSeparate"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ListKarkardNew" style="font-size:10px;"></div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-4">

            <div class="ListTaskTomarow" style=" background-image: linear-gradient(45deg, #daab95, transparent);"></div>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div id="chartContainer1" style="height: 300px; width: 100%;"></div>
        </div>
        <div class="col-lg-6">
            <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <input type="text" onchange="CreateChartKarKard(this)" />
            <div id="CreateChartKarKard" style="height: 300px; width: 100%;"></div>
        </div>
        <div class="col-lg-6">
            @*<div id="ReportLineChartKarKard" style="height: 300px; width: 100%;"></div>*@
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="ReportLineChartKarKard" style="height: 300px; width: 100%;"></div>
        </div>
    </div>
    </div>



